<div id="<%= dom_id api %>">
  <p>
    <strong>Name:</strong>
    <%= api.name %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= api.link %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= api.description %>
  </p>

  <p>
    <strong>Automationpage:</strong>
    <%= api.automationpage_id %>
  </p>

</div>
